<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
	<%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
<%= render "partials/navigation"%>
	<% if notice or alert %>
	<p ><%= notice %></p>
	<p ><%= alert %></p>
	<%end%>
	<div style="width:80%; margin:0 auto;">
	<%= yield %>
	</div>

</body>
</html>
